$primary-color:rgb(8, 7, 7);
$secondary-color:#ff652f;
$tertiary-color:white;

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    color:white;
}
@mixin flexCen{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}
@mixin mobile{
    @media(min-width :550px){
        @content;
    }
}
@mixin pc{
    @media(max-width:950px){
        @content;
    }
}
